body {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

a {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  width: 50px;
  transition: 0.8s;
}

.icon:hover {
  width: 70px;
  transition: 0.8s;
}

iframe {
  border: none;
}